apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: flask-request-hpa
  namespace: flask-request
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: flask-request
  minReplicas: 2
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 90
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 90
  behavior:
    scaleUp:
      policies:
      - type: Pods
        value: 4
        periodSeconds: 60
      - type: Percent
        value: 100
        periodSeconds: 60
      selectPolicy: Max
    scaleDown:
      policies:
      - type: Percent
        value: 100
        periodSeconds: 60
      selectPolicy: Min
